  <p class="mb-2">Ask your coach enything:</p>
  <form action="/answer" data-turbo="false">
    <input type="text" class="border-4" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
